onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
platformdirs
referencing
rembg==2.0.53
requests
rpds-py
scikit-image
scipy
setuptools
six
sounddevice
soupsieve
sqlparse
sympy
tifffile
tqdm
tzdata
urllib3
pillow==9.0.0
